<body>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>상품등록</h1>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">등록할 상품의 정보를 입력하세요</h5>

              <!-- General Form Elements -->
              <form method="post">
                <div class="row mb-3">
                  <label for="inputText" class="col-sm-2 col-form-label">상품명</label>
                  <div class="col-sm-10">
                    <input name="prdtName" type="text" class="form-control">
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="inputPassword" class="col-sm-2 col-form-label">상품내용</label>
                  <div class="col-sm-10">
                    <textarea name="prdtContent" class="form-control" style="height: 100px"></textarea>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="inputNumber" class="col-sm-2 col-form-label">수량/KG</label>
                  <div class="col-sm-10">
                    <input name="prdtCnt" type="number" class="form-control">
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="inputText" class="col-sm-2 col-form-label">가격</label>
                  <div class="col-sm-10">
                    <input name="prdtPrice" type="text" class="form-control">
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="inputDate" class="col-sm-2 col-form-label">수확일</label>
                  <div class="col-sm-10">
                    <input name="prdtDate" type="date" class="form-control">
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="inputNumber" class="col-sm-2 col-form-label">사진1</label>
                  <div class="col-sm-10">
                    <input name="prdtImg1" class="form-control" type="file" id="formFile" accept="image/*" multiple="multiple">
                  </div>
                  
                </div>
                
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">등록버튼</label>
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">등록</button>
                  </div>
                </div>

              </form><!-- End General Form Elements -->

            </div>
          </div>

        </div>

        <div class="col-lg-3">

          <!-- Card with an image on top -->
          <div class="card">
            <img src="assets/img/card.jpg" class="card-img-top" alt="...">
          </div><!-- End Card with an image on top -->

        </div>

      </div>
    </section>

  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.min.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>